@model CustomerManager.Models.Customer
@{
    ViewBag.Title = "Detail";
}

<h2>Customer Details</h2>

<div>
    <h3>@Model.Name</h3>
    <span>@Model.Address</span>
    <span>@Model.Phone</span>
    <span>@Model.DOB</span>
    <span>@Model.Email</span>
</div>