@{
    ViewBag.Title = "List of Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>List of Customers</h2>
<p>
    @Html.ActionLink("Add New Customer", "Create")
</p>
<hr />

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Address</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.Address</td>
                    <td>@Html.ActionLink("Details", "Detail1", "Customer", new { id = customer.Id })</td>
                    <td>@Html.ActionLink("Edit", "Edit", "Customer", new { id = customer.Id }, null)</td>
                    <td>
                        <button data-customers-id="@customer.Id" class="btn btn-link js-delete">Delete</button>
                    </td>

                </tr>
            }*@

    </tbody>

</table>





@section scripts
    {
   
    <script>
        $(document).ready(function () {
            var table = $('#customers').DataTable({
                //we want to feed our datatable with data from api instead of using the table above, the table will be commented out by me
                ajax: {
                    url: "/api/customer",
                    dataSrc: ""
                },
                //specify the columnn
                columns: [
                   //1st column, customer name which will serve as a link for editing
               {
                   //the value i want to display
                   data: "Name",
                 
               },
               {
                   //2nd column
                   data: "Address"
               },
               

                  //3rd column is the details
               {
                   data: "Id",
                   render: function (data) {
                       return "<a href='/customer/detail/" + data + "'>Details</a>";
                   }
               }
                ]


            });



                  });

    </script>
}

